<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</head>

<body class="" >
    
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
       {%if messages%}
            {%for m in messages%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{m}}</strong> You should check in on some of those fields below.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {%endfor%}
       {%endif%}
       <div class="card mb-3" style="max-width:75%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{%static 'images/login.png'%}" class="rounded-start w-100 h-100" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
             <form action="" method="post">
                {%csrf_token%}
                {{form.as_p}}

                <div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
             </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>