{%extends 'base.html'%}

{%block main_block%}

<div class="conatiner">
    <div class="row mt-4">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="" method="post" class="border border-dark border-2 p-4 rounded">
                <h3 class="text-center fw-bold my-3">Add Transaction</h3>
                {%csrf_token%}
               
                <div class="row">
                    <div class="col-6">
                        <label for="">Enter title</label>
                        {{form.title}}
                    </div>
                    <div class="col-6">
                        <label for="">Enetr amount</label>
                        {{form.amount}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Select Category</label>
                        {{form.category_object}}
                    </div>
                    <div class="col-6">
                        <label for="">Select Payment Method</label>
                        {{form.payment_method}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="">enter owner</label>
                        {{form.owner}}
                    </div>
                </div>
                <button type="submit">Add</button>

            </form>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row mt-2 p-3">
        <div class="col-2"></div>
        <div class="col-8 border rounded">
            <table class="table ">
                <tr>
                    <th>Title</th>
                    <th>Amount</th>
                    <th>PaymentMethod</th>
                    <th>Action</th>
                </tr>
                {%for t in transactions%}
                    <tr>
                        <td>{{t.title}}</td>
                        <td>{{t.amount}}</td>
                        <td>{{t.payment_method}}</td>
                        <td class="d-flex gap-2">
                            <a href="{%url 'transaction-change' t.id%}" class="btn btn-outline-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="{%url 'transaction-delete' t.id%}" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                {%endfor%}
            </table>
        </div>
        <div class="col-2"></div>
    </div>

  
</div>
{%endblock%}